.wrapper-size {
  color: black;
  font-family: 'TTNorms-Regular';
}

.header {
  position: relative;
  left: 0;
  transform: translate(0);
  margin-bottom: 80px;
}
.header .container-hero-logo {
  display: flex;
  max-width: 320px;
  width: 100%;
  justify-content: space-between;
}
.header .container-hero-logo .hero-logo {
  background-image: url(../images/hero-images/hero-logo.svg);
  width: 156px;
  height: 63px;
}
.header .container-hero-logo .hero-about-us {
  position: relative;
}
.header .container-hero-logo .hero-about-us::before {
  content: '';
  display: block;
  background-image: url(../images/hero-images/slash.svg);
  width: 22px;
  height: 47px;
  position: absolute;
  top: 0;
  left: -26px;
}
.header .container-hero-logo .hero-about-us::after {
  content: '';
  display: block;
  background-image: url(../images/hero-images/hero-icon.svg);
  width: 42px;
  height: 47px;
  position: absolute;
  top: 0;
  right: -44px;
}
.header .language-list-item-text {
  color: #B3B3BA;
}
.header .language-list-item-text:hover {
  color: #F0145A;
}
.header .language-list-item-text-active {
  color: #fff;
}
.header .container-language-list-item .icon-facebook {
  fill: #B3B3BA;
}
.header .nav-list-header-item-active {
  color: #F0145A;
  text-decoration: underline #F0145A;
}

.wrapper-title-achievements-amount {
  margin-bottom: 100px;
}

.second-container {
  max-width: 1096px;
  width: 100%;
  margin: 0 auto;
}

.container-title-achievements-amount {
  display: flex;
  justify-content: space-between;
}
.container-title-achievements-amount .container-title-achievements {
  max-width: 608px;
  width: 100%;
}
.container-title-achievements-amount .container-title-achievements :nth-child(n) {
  margin-bottom: 20px;
}
.container-title-achievements-amount .container-title-achievements :last-child {
  margin-bottom: 0;
}
.container-title-achievements-amount .list-achievements-amount {
  max-width: 392px;
  width: 100%;
  position: relative;
  height: fit-content;
}
.container-title-achievements-amount .list-achievements-amount:before {
  content: '';
  display: block;
  width: 4px;
  height: 100%;
  background-color: #E6E6F0;
  position: absolute;
  left: -20px;
}
.container-title-achievements-amount .list-achievements-amount :nth-child(n) {
  margin-bottom: 40px;
}
.container-title-achievements-amount .list-achievements-amount :last-child {
  margin-bottom: 0;
}
.container-title-achievements-amount .list-achievements-amount-item :nth-child(1) {
  margin-bottom: 10px;
}
.container-title-achievements-amount .list-achievements-amount-item h2 {
  padding-left: 36px;
  position: relative;
}
.container-title-achievements-amount .list-achievements-amount-item :last-child {
  margin-bottom: 0;
}
.container-title-achievements-amount .list-achievements-amount .decorative-flag::before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 6px;
  background-image: url(../images/decorative-images/flag-icon.svg);
  width: 32px;
  height: 32px;
}
.container-title-achievements-amount .list-achievements-amount .decorative-suitcase::before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 4px;
  background-image: url(../images/decorative-images/suitcase-icon.svg);
  width: 32px;
  height: 32px;
}
.container-title-achievements-amount .list-achievements-amount .decorative-star::before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 4px;
  background-image: url(../images/decorative-images/star-icon.svg);
  width: 32px;
  height: 32px;
}

.wrapper-team-image {
  max-width: 1440px;
  padding-top: 160px;
  width: 100%;
  min-height: 438px;
  margin-bottom: 80px;
  background: linear-gradient(264.71deg, #F01432 0%, #323264 29.69%), url(../images/content-images/team.jpg);
  background-blend-mode: screen, normal;
}
.wrapper-team-image .team-title {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.8;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
}

.wrapper-quality {
  margin-bottom: 93px;
}
.wrapper-quality .container-quality-title-paragraph {
  display: flex;
}
.wrapper-quality .container-quality-title-paragraph .container-quality-paragraph {
  max-width: 640px;
  margin-right: 40px;
  width: 100%;
}
.wrapper-quality .container-quality-title-paragraph .container-quality-paragraph p {
  margin-bottom: 20px;
}
.wrapper-quality .container-quality-title-paragraph .container-quality-paragraph :last-child {
  margin-bottom: 0;
}
.wrapper-quality .container-quality-title-paragraph h2 {
  max-width: 380px;
  width: 100%;
}

.wrapper-achievements {
  background-color: #F5F5FA;
  padding-top: 28px;
  padding-bottom: 75px;
  position: relative;
}
.wrapper-achievements .achievements-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.wrapper-achievements .container-achievements {
  display: flex;
  justify-content: space-between;
}
.wrapper-achievements .container-achievements .achievements {
  width: 300px;
  height: 109px;
  background: #FFFFFF;
  border-radius: 12px;
}
.wrapper-achievements .container-achievements .legal-500 {
  background-image: url(../images/content-images/achievement-legal.png);
  background-position: center;
  background-repeat: no-repeat;
}
.wrapper-achievements .container-achievements .awards-2017 {
  background-image: url(../images/content-images/achievement-awards-2017.png);
  background-position: center;
  background-repeat: no-repeat;
}
.wrapper-achievements .container-achievements .liders {
  background-image: url(../images/content-images/achievement-liders.png);
  background-position: center;
  background-repeat: no-repeat;
}
.wrapper-achievements .container-achievements .ulf-2017 {
  background-image: url(../images/content-images/achievements-ulf-2017.png);
  background-position: center;
  background-repeat: no-repeat;
}

.container-dots {
  bottom: 30px;
}

@media all and (max-width: 376px) {
  .second-container {
    max-width: 335px;
  }

  .header {
    margin-bottom: 20px;
  }
  .header::after {
    background-image: url(../images/decorative-images/burger-menu-about.svg);
  }
  .header .container-hero-logo .hero-logo {
    background-image: url(../images/hero-images/hero-logo-about-min.svg);
    width: 78px;
    height: 31px;
  }
  .header .container-hero-logo .hero-about-us {
    font-size: 19px;
    line-height: 22px;
    left: -160px;
  }
  .header .container-hero-logo .hero-about-us::before {
    background-image: url(../images/hero-images/slash-min.svg);
    width: 12px;
    height: 24px;
    left: -12px;
  }
  .header .container-hero-logo .hero-about-us::after {
    background-image: url(../images/hero-images/hero-icon-min.svg);
    width: 22px;
    height: 24px;
    right: -22px;
  }

  .wrapper-title-achievements-amount {
    margin-bottom: 34px;
  }
  .wrapper-title-achievements-amount .container-title-achievements-amount {
    flex-direction: column;
  }
  .wrapper-title-achievements-amount .container-title-achievements-amount .container-title-achievements {
    margin-bottom: 35px;
  }
  .wrapper-title-achievements-amount .container-title-achievements-amount .container-title-achievements h2 {
    font-size: 32px;
    line-height: 38px;
  }
  .wrapper-title-achievements-amount .container-title-achievements-amount .container-title-achievements p {
    font-size: 18px;
    line-height: 26px;
  }
  .wrapper-title-achievements-amount .list-achievements-amount::before {
    width: 100%;
    height: 4px;
    left: 0;
    top: -20px;
  }

  .wrapper-team-image {
    background: linear-gradient(264.71deg, #F01432 0%, #323264 29.69%), url(../images/content-images/team-min.jpg);
    min-height: 290px;
    padding-top: 120px;
    margin-bottom: 20px;
  }
  .wrapper-team-image .team-title {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 20px;
  }

  .wrapper-quality {
    margin-bottom: 40px;
  }
  .wrapper-quality .container-quality-title-paragraph {
    flex-direction: column;
  }
  .wrapper-quality .container-quality-title-paragraph h2 {
    font-size: 32px;
    line-height: 38px;
  }
  .wrapper-quality .container-quality-title-paragraph .container-quality-paragraph {
    font-size: 18px;
    line-height: 26px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .wrapper-achievements .container-achievements .achievements {
    width: 157px;
    height: 57px;
  }
  .wrapper-achievements .container-achievements .legal-500 {
    background-image: url(../images/content-images/achievement-legal-min.png);
  }
  .wrapper-achievements .container-achievements .awards-2017 {
    background-image: url(../images/content-images/achievement-awards-2017-min.png);
  }
  .wrapper-achievements .container-achievements .liders {
    display: none;
  }
  .wrapper-achievements .container-achievements .ulf-2017 {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
